a {
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

body header .wrap2 ul{
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;

}
.wrap {     max-width: 1440px;     width:100%;     margin: 0 auto;     padding: 0 1rem; }
.wrap2 {     max-width: 1324px;     width:100%;     margin: 0 auto;     padding: 0 1rem; }
.wrap3 {     max-width: 1235px;     width:100%;     margin: 0 auto;     padding: 0 1rem; }
.wrap4 {     max-width: 785px;     width:100%;     margin: 0 auto;     padding: 0 1rem; }

#carte .text1{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    align-items: center;
    text-align: center;
}
#carte .image_carte{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
#carte{
    padding-top: 3rem;
}
#carte{}
#profils{
    max-width: 1324px;     width:100%;     margin: 0 auto;     padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#profils h1{
display: flex;
    justify-content: center;
}
#profils .commerciaux{
    display: flex;
    gap: .9rem;
    background-color: gray;
    width: 100%;
}
#profils .ingenieur_technico{
    display: flex;
    flex-direction: row-reverse;
    gap: .9rem;
    background-color: gray;
}
#profils .commerciaux .text_2 h2, p{
    text-align: center;
}

#profils .ingenieur_technico .text_3 h2, p{

    text-align: center;
}
#profils .ingenieur_technico .text_3 h2{
    padding-top: 10rem;
}

#profils .commerciaux .text_2 h2{
    padding-top: 10rem;
}


#profils{}

footer{
    background-color: black;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
}
footer p {
    color: white;
    padding-top:.6rem ;
}
footer p a {
    color: white;
}
footer .image3{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    text-align: -webkit-center;
}
#footer{
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: -120rem;

}

#contacts{
    text-align: -webkit-center;
}
#contacts h3{

    box-shadow: 1px 3px 10px rgb(150, 150, 150);
    color: green;
    margin-top: 1rem;
    padding: 1rem;
    margin-left: 15px;
    margin-right: 15px;
}
section .wrap2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulaire{
    /*text-align: center;*/
    padding-top: 1rem;
    text-align: -webkit-center;

}
.formulaire form{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1rem;
}
.formulaire form input{
    padding: 1rem;
}
section .wrap2 form span{
    color: red;
}
.wrap4{
    margin-top: 3rem;
    box-shadow: 1px 3px 10px rgb(150, 150, 150);
}
.adress{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 820px) {
    footer{
        position: absolute;
        bottom: 0;
    }


}
@media screen and (max-width: 480px){

    #profils .commerciaux .text_2 h2, p{
        text-align: center;
        width: 230px;
    }
    .commerciaux img{
        width: 180px;
    }
    #profils .ingenieur_technico .text_3 h2, p{

        text-align: center;
        width: 230px;
    }
    .ingenieur_technico img {
        width: 180px;
    }
    #footer{
        background-color: black;
        width: 100%;
        position: absolute;
        bottom: -90rem;

    }
}
